<div class="app-container">
  <div class="navbar">
    <button class="hamburger" onclick="document.body.classList.toggle('nav-open')">
      <span></span><span></span><span></span>
    </button>

    <div class="overlay" onclick="document.body.classList.remove('nav-open')"></div>

    <nav class="side-nav">
      <div class="logo">
        <img src="logo2.svg" alt="Logo" />
      </div>

      <a class="nav-item" (click)="navigateHome()">Acasa</a>
      <a class="nav-item" (click)="navigateToBazinga()">Predictor genetic</a>
      <a class="nav-item" (click)="navigateToRaports()">Rapoarte</a>
      <a *ngIf="isAdmin()" class="nav-item" (click)="navigateToUsers()">Useri</a>
      <a *ngIf="isAdmin()" class="nav-item">Securitate & Activitate</a>

      <div class="separator"></div>

      <div class="user-account">
        <app-user-options *ngIf="isMenuOpen" class="floating-menu"></app-user-options>
        <div class="user-pfp">C</div>
        <span class="user-name">Contul meu</span>
        <span class="user-name" (click)="toggleMenu()" style="cursor: pointer">
          {{ isMenuOpen ? 'v' : '^' }}
        </span>
      </div>
    </nav>
  </div>
  <div class="main-content">
    <div class="content-panel">
      <div class="header-row">
        <h1 class="greeting">Securitate și Activitate</h1>
      </div>
      <app-activity-list />
    </div>
  </div>
</div>
