<div class="app-container">
  <div class="navbar">
    <button type="button" class="hamburger" (click)="toggleNav()">
      <span></span><span></span><span></span>
    </button>

    <div class="overlay" (click)="closeNav()"></div>

    <nav class="side-nav">
      <div class="logo">
        <img src="logo2.svg" alt="Logo" />
      </div>

      <a class="nav-item" (click)="navigateHome(); closeNav()">Acasă</a>
      <a class="nav-item" (click)="navigateToBazinga(); closeNav()">Predictor genetic</a>
      <a class="nav-item" (click)="navigateToRaports(); closeNav()">Rapoarte</a>

      <a *ngIf="isAdmin()" class="nav-item" (click)="closeNav()">Useri</a>

      <div class="separator"></div>

      <div class="user-account">
        <app-user-options *ngIf="isMenuOpen" class="floating-menu"></app-user-options>
        <div class="user-pfp">{{ currentUsername.charAt(0) | uppercase }}</div>
        <span class="user-name">{{ currentUsername }}</span>
        <span class="user-name" (click)="toggleMenu()" style="cursor:pointer">
          {{ isMenuOpen ? 'v' : '^' }}
        </span>
      </div>
    </nav>
  </div>
  <div class="main-content">
    <div class="content-panel">
      <div class="header-row">
        <h1 class="greeting">Utilizatori</h1>
      </div>
      <app-user-list />
    </div>
  </div>
</div>
