.frame {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
}

.action-buttons-container {
  display: flex;
  gap: 30px;
}

.icon-button {
  cursor: pointer;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button:hover {
  opacity: 0.7;
  transform: scale(1.1);
  transition: all 0.2s ease;
}
